@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.logo img{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 0px;
    max-width: 130px;
    display: flex;
    gap: 20px;
    image-resolution: 100px;
    
}

a {
    text-decoration: none;
}
  
li {
    list-style: none;
}
  
.flex {
    display: flex;
}

/*--------header---------*/
header {
    height: 10vh;
    /*line-height: 10vh;*/
    padding: 0 20px;
    background-color: #204c98;
}
  
header img {
    margin: 20px 0;
}
  
/*header ul {
    display: block;
}*/
  
header ul li {
    display: inline-block;
    text-transform: uppercase;
}
  
header ul li a {
    color: #fff;
    margin: 0 10px;
    transition: 0.5s;
}
  
header ul li a:hover {
    color: #fbb234;
}
  
header i {
    margin: 0 20px;
}
  
header button {
    padding: 13px 40px;
}
  
header .navlinks span {
    display: none;
}
.navlinks{
    justify-content: center;
    text-align: center;
    margin-top: -40px;  
}
  
.login-var{
    justify-content: end;
    text-align: right;
    margin-top: -22px;
}



.content{
    display: flex;
    flex-direction: column;
}


.bookings{
    margin-top: 5px;
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.booking{
    background-color: antiquewhite;
    flex:1;
    max-width:20vw;
    min-width: 20rem;
    text-align: left;
    border: 2px solid #204c98;
    padding:1rem;
    border-radius: 0.75rem;
    margin:10px;
}
.booking:hover{
    cursor: pointer;

}

.booking img {
    border-radius: 8px;
}

img{
    max-width: 100%;
}
a i{
    margin: 1rem;
    color:rgb(236, 235, 228);
    text-decoration: none;
}
.home{
    position: relative;
    color: black;
    max-width: 150px;
    bottom: 100px;
}
.home a i{
    font-size: 1.2rem;
    color: black;

}

h1,h2, h3{
    justify-content: center;
    margin: 10px;
    text-align: center;
    width: 95%;
}

.cancel{
    text-align: center;
}

.cancel a i{
    color: #204c98;
}

.cancel a i:hover{
    color: rgb(206, 43, 43);
    
}

/*wpp*/

.whatsapp-float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    width: 60px; 
    height: 60px;
    background-color: #25d366; 
    border-radius: 30px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.whatsapp-float img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width:768px) {

    body{
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    
    .logo img{
        position: relative;
        left: 120px;
        top: 15px;
    }
    
    
    .login-var{
        position: relative;
        top: 350px;
    }
    
    header ul {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #204c98;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 9;
    }
    
    header ul li {
        font-size: 25px;
        position: relative;
        margin-bottom: 12px;
        display: block;
        text-align: left;
        justify-content: space-between;
    }
    
    header ul li a {
        color: white;
    }
    
    header i {
        color: white;
    }
    
    header .navlinks span {
        color: white;
        display: flex;
        cursor: pointer;
        margin-bottom: 13px;
        justify-content: left;
        font-size: 30px;
        
    }
}