@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.logo img{
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 0px;
  max-width: 130px;
  display: flex;
  gap: 20px;
  image-resolution: 100px;
  
}

h1, h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #204c98;
  font-weight: bold;
  color: white;
}

.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 85%;
  margin: auto;
}

/*--------header---------*/
header {
  height: 10vh;
  /*line-height: 10vh;*/
  padding: 0 20px;
  background-color: #204c98;
}

header img {
  margin: 20px 0;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #fff;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #fbb234;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;

}

.navlinks{
  justify-content: center;
  text-align: center;
  margin-top: -40px;
  
}

.login-var{
  justify-content: end;
  text-align: right;
  margin-top: -22px;
}


/*--------header---------*/


/*--------home---------*/
.home {
  height: 100vh;
  color: #fff;
}

.home img {
  width: 100%;
  height: 100vh;
}

.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}

.home .text h1 {
  font-size: 80px;
  font-family: serif;
  font-weight: 400;
  -webkit-text-stroke: 1px #cc8304;
}

.home p {
  margin: 20px 0;
  color: #cc8304;
  -webkit-text-stroke: 0.4px black;
  font-size: 19px;
  font-weight: 650;

}

.home button {
  margin-right: 20px;
}

.item img{
  object-fit: cover;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #fff;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}

/*--------home---------*/


/*--------about ---------*/

.left, .right {
  width: 50%;
  padding: 30px;
}

.left {
  text-align: center;
}


.right img {
  position: relative;
  top: 150px;
  width: 120%;
  height: 80%;
  border-radius: 5px;
}

.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.4;
  font-family: serif;
  position: relative;
  top: 112px;
  color: #204c98;
  -webkit-text-stroke: 0.8px #cc8304;
  
}

.heading h2 {
  margin: 30px 0;
  font-size: 45px;
  font-family: serif;
  font-weight: 400;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}



.about {
  position: relative;
}

.about .left {
  margin-top: 30px;
}

.about p {
  font-size: 15px;
}

.about button {
  margin: 30px 0;
}

/*-------- fin about---------*/


/*--------rooms---------*/

.items {
  max-width: 350px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #ddd;
  box-shadow: 0 5px 5px #cc8304;
  font-family: 'Arial', sans-serif;
  text-align: center;
}


.image img {
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.text h2 {
  margin: 15px 0;
  font-size: 22px;
  color: #333;
}

.room-description ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.room-description li {
  position: relative;
  margin: 8px 0;
  padding-left: 25px;
  font-size: 16px;
  color: #555;
}

.room-description li::before {
  content: "✔";
  position: absolute;
  left: 20px;
  font-size: 18px;
  color: #4CAF50;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
}

.button button {
  border-radius: 8px;
}


.owl-carousel1 .owl-nav .owl-prev,
.owl-carousel1 .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: #204c98 !important;
}

.owl-carousel1 .owl-nav .owl-prev i,
.owl-carousel1 .owl-nav .owl-next i {
  color: #fff;
}

.owl-carousel1 .owl-nav .owl-prev {
  left: -30px;
}

.owl-carousel1 .owl-nav .owl-next {
  right: -30px;
}

/*-------- fin rooms---------*/

/*--------gallery---------*/

.gallery {
  position: relative;
  margin-bottom: 150px;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery .img {
  position: relative;
}


.gallery .owl-nav .owl-prev {
  left: 0%;
}

.gallery .owl-nav .owl-next {
  right: 0%;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
  top: 90px;
}

/*--------fin gallery---------*/


/*--------footer---------*/
footer {
  background: #204c98;
  color: white;
  padding: 1% 0 3% 0;

}

footer .grid {
  grid-template-columns: 6fr 3fr 3fr;
}

footer p {
  font-size: 20px;
  line-height: 25px;
}

footer .icon i {
  /*margin: 20px 20px 20px 0;*/
  color: #b6b7b9;
}

footer h2 {
  color: #fff;
  margin-bottom: 10px;
}


footer i {
  color: #204c98;
  margin: 20px 0;
  margin-right: 20px;
}


.contact {
  position: relative;
  bottom: 100px;
  left: 700px;
  
}

.box img{
  max-width: 200px;
  display: flex;
  gap: 20px;
  image-resolution: 100px;
}

.legal {
  padding: 15px 0;
  background: #282834;
  color: #b6b7b9;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/*--------footer---------*/

/*map*/
.maps iframe{
  width: 100%;
  height: 350px;
}

/*wpp*/

.whatsapp-float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  width: 60px; 
  height: 60px;
  background-color: #25d366; 
  border-radius: 30px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-float img {
  width: 40px;
  height: 40px;
}

/*wpp*/

@media only screen and (max-width:768px) {

  body{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    /*overflow: hidden;*/
  }


  .logo img{
    position: relative;
    left: 120px;
    top: 15px;
  }


  .login-var{
    position: relative;
    top: 350px;
  }

  header ul {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #204c98;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000;
  }

  header ul li {
    font-size: 25px;
    position: relative;
    margin-bottom: 12px;
    display: block;
    text-align: left;
    justify-content: space-between;
  }

  header ul li a {
    color: white;
  }

  header i {
    color: white;
  }

  header .navlinks span {
    color: white;
    display: flex;
    cursor: pointer;
    margin-bottom: 13px;
    justify-content: left;
    font-size: 30px;
    
  }

  .home {
    color: #fff;
    height: 50vh;
  }

  .home img {
    width: 100%;
    height: 50vh;
  }

  .home .text h1 {
    font-size: 40px;
    font-family: serif;
    font-weight: 300;
    -webkit-text-stroke: 1px #cc8304;
  }
  
  .home p {
    margin: 20px 0;
    color: #cc8304;
    -webkit-text-stroke: 0.4px black;
    font-size: 16px;
    font-weight: 600;
  
  }

  .heading h1{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 290;
    position: relative;
    margin-bottom: 67px;
  }

  .heading h2{
    text-align: center;
    font-size: 27px;
    font-weight: 250;
  }

  .container {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    margin: auto;
  }
  
  .left {

    width: 100%;
    order: 1; /* Asegura que el texto esté arriba */
  }
  
  .right {
    width: 100%;
    height: 100%;
    order: 2; /* Asegura que la imagen esté abajo */
  }
  
  .right img {
    position: relative;
    top: -20px;
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto;    /* Mantén la proporción */
  }

  .rooms {
    top: -40px;
  }

  .rooms h1 {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: 250;
  }

  .rooms h2{
    text-align: center;
    font-size: 23px;
    font-weight: 250;
  }

  .text h2 {
    font-weight: bold;
  }

  .gallery h1{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: 250;
  }

  .gallery h2{
    text-align: center;
    font-size: 23px;
    font-weight: 250;
  }

  .gallery .owl-nav .owl-next,
  .gallery .owl-nav .owl-prev {
    top: 120px;
    
  }
  .gallery .owl-nav .owl-next{
    width: 30px;
  }

  .gallery .owl-nav .owl-prev {
    width: 30px;
  }

  .maps{
    width: 100%;
  }

  footer .grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    text-align: center; /* Centra el contenido */
    gap: 30px; /* Espacio entre las secciones */
  }

  footer p {
    font-size: 16px; /* Ajusta el tamaño del texto */
    line-height: 22px;
  }

  .contact {
    position: static; /* Restablece la posición para pantallas pequeñas */
    margin: 10px; /* Centra la sección */
  }

  footer i {
    margin: 10px 0; /* Reduce los márgenes de los íconos */
  }

  footer h2 {
    margin-bottom: 15px; /* Ajusta el margen inferior del título */
  }

  footer .box img {
    margin: 0 auto; /* Centra la imagen */
    max-width: 150px; /* Ajusta el tamaño en pantallas pequeñas */
  }

  .whatsapp-float {
    position: fixed;
    z-index: 1000;
    bottom: 20px; /* Ajusta la posición del botón flotante */
    right: 20px;
    width: 50px; 
    height: 50px;
  }

  .whatsapp-float img {
    width: 30px; 
    height: 30px; 
  }

  
}
